html {
  font-family: 'Akzidenz-Grotesk BQ', sans-serif;
  color: #ffff;
}

body {
  background-image: url("../images/coming.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Akzidenz-Grotesk BQ', cursive;
}

h2 {
  font-weight: 200;
}

.text {
  padding: 5em;
}

.info {
  text-align: center;
  background-color: #000;
  border-radius: 50%;
  width: 23em;
  height: 23em;
  display: flex;
  justify-content: center;
  align-items: center;
}
